/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Caption;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	max-id: 1;
	margin-bottom: 10px;
	margin-top: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	font-size: 0.75em;
	color: #ce1141;
	name: Column1;
	id: 0;
	text-align: center;
	font-weight: 600;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: middle;
	font-size: 8pt;
	name: Body1;
	id: 1;
	text-align: center;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}


/* Cell Styles: */
 
.TableStyle-Caption
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Caption-Column-Column1
{
	
}

.TableStyle-Caption-HeadI-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadI-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadE-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-HeadE-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadF-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadF-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadH-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-HeadH-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadD-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadD-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadC-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadC-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadB-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-HeadB-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadA-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadA-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-HeadG-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-HeadG-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootI-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootI-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootE-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-FootE-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootF-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootF-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootH-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-FootH-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootD-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootD-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootC-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootC-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootB-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-FootB-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootA-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootA-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-FootG-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-FootG-Column1- p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-Body-Body1
{
	
}

.TableStyle-Caption-BodyI-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyI-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyE-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-BodyE-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyF-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyF-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyH-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-BodyH-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyD-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyD-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyC-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyC-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyB-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Caption-BodyB-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyA-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyA-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}

.TableStyle-Caption-BodyG-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Caption-BodyG-Column1-Body1 p
{
	color: #ce1141;
	font-size: 0.75em;
	font-weight: 600;
}


