/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HelpTable2;
	border-collapse: separate;
	max-id: 5;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	color: #000000;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	text-align: left;
	vertical-align: top;
	cell-content-style-tag: p;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ce1141;
	name: Header1;
	id: 2;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	color: #000000;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f3f3f3;
	text-align: left;
	vertical-align: top;
	cell-content-style-tag: none;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #f3f3f3;
	color: #000000;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f3f3f3;
	text-align: left;
	vertical-align: top;
	cell-content-style-tag: none;
}


/* Cell Styles: */
 
.TableStyle-HelpTable2
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-HelpTable2-Column-Column1
{
	
}

.TableStyle-HelpTable2-Head-Header1
{
	
}

.TableStyle-HelpTable2-HeadI-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadI-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadE-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-HelpTable2-HeadE-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadF-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-HelpTable2-HeadF-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadH-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadH-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadD-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-HelpTable2-HeadD-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadC-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadC-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadB-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadB-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadA-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadA-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-HeadG-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CE1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-HelpTable2-HeadG-Column1-Header1 p
{
	color: #CE1141;
}

.TableStyle-HelpTable2-FootI-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootI-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootE-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-FootE-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootF-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootF-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootH-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-FootH-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootD-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootD-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootC-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootC-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootB-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-FootB-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootA-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootA-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-FootG-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-FootG-Column1- p
{
	color: #000000;
}

.TableStyle-HelpTable2-Body-Body1
{
	
}

.TableStyle-HelpTable2-BodyI-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyI-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyE-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyE-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyF-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyF-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyH-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyH-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyD-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyD-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyC-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyC-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyB-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyB-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyA-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyA-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyG-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyG-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-HelpTable2-Body-Body2
{
	
}

.TableStyle-HelpTable2-BodyI-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyI-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyE-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyE-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyF-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyF-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyH-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyH-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyD-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyD-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyC-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyC-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyB-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-HelpTable2-BodyB-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyA-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyA-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-HelpTable2-BodyG-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HelpTable2-BodyG-Column1-Body2 p
{
	color: #000000;
}


