/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NoBorder8;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 1;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	margin-left: 1em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	font-size: 8pt;
	color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	font-size: 8pt;
	color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-NoBorder8
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-left: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-NoBorder8-Column-Column1
{
	
}

.TableStyle-NoBorder8-HeadI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadI-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-HeadE-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadF-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-HeadH-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadD-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadC-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-HeadB-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadA-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-HeadG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-HeadG-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootI-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-FootE-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootF-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-FootH-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootD-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootC-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-FootB-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootA-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-FootG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-FootG-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-Body-Body1
{
	
}

.TableStyle-NoBorder8-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder8-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-NoBorder8-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder8-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}


