/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: NoBorder; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #ffffff; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #ffffff; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #ffffff; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #ffffff; 
	cell-padding-left: 4px; 
	cell-padding-right: 4px; 
	cell-padding-top: 4px; 
	cell-padding-bottom: 4px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #ffffff; 
	vertical-align: top; 
	font-size: 8pt; 
	color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #ffffff; 
	vertical-align: top; 
	font-size: 8pt; 
	color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_NoBorder
{
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 4px 4px 4px 4px;
}

.TableStyle_NoBorder_Body_0_0
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0 p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_NoBorder_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0_RowSep p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_ColSep
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_NoBorder_Body_0_0_ColSep p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowEnd
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0_RowEnd p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_NoBorder_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}

.TableStyle_NoBorder_Body_0_0_ColEnd
{
	font-weight: normal;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle_NoBorder_Body_0_0_ColEnd p
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
}


