/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Border8;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 3;
	border-left-color: #a9a9a9;
	border-right-color: #a9a9a9;
	border-top-color: #a9a9a9;
	border-bottom-color: #a9a9a9;
	margin-top: 1em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	vertical-align: top;
	font-size: 8pt;
	color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
}

mcTableHeadStyle
{
	span: 1;
	id: 3;
	name: Header1;
	color: #ce1141;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f3f3f3;
	vertical-align: top;
	font-size: 8pt;
	color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	id: 2;
	name: Body2;
	background-color: #f3f3f3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f3f3f3;
}


/* Cell Styles: */
 
.TableStyle-Border8
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-top: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-Border8-Column-Column1
{
	
}

.TableStyle-Border8-Head-Header1
{
	
}

.TableStyle-Border8-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadI-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-Border8-HeadE-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-Border8-HeadF-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadH-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #ce1141;
	border-bottom-style: solid;
}

.TableStyle-Border8-HeadD-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadC-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadB-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadA-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 8pt;
	color: #ce1141;
	text-align: left;
	vertical-align: top;
	background-color: #dcdcdc;
}

.TableStyle-Border8-HeadG-Column1-Header1 p
{
	font-size: 8pt;
	color: #ce1141;
}

.TableStyle-Border8-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootI-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-FootE-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootF-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-FootH-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootD-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootC-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-FootB-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootA-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-FootG-Column1- p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-Body-Body1
{
	
}

.TableStyle-Border8-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-Body-Body2
{
	
}

.TableStyle-Border8-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyI-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyE-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyF-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyH-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	border-bottom-width: 1px;
	border-bottom-color: #f3f3f3;
	border-bottom-style: solid;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyD-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyC-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Border8-BodyB-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyA-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}

.TableStyle-Border8-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Border8-BodyG-Column1-Body2 p
{
	color: #000000;
	font-size: 8pt;
}


