/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NoBorder10;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 1;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	margin-left: 1em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	font-size: 10pt;
	color: #000000;
	name: Column1;
	id: 0;
	font-style: normal;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	font-size: 10pt;
	color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-NoBorder10
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-left: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-NoBorder10-Column-Column1
{
	
}

.TableStyle-NoBorder10-HeadI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadI-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-HeadE-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadF-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-HeadH-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadD-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadC-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-HeadB-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadA-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-HeadG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-HeadG-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootI-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-FootE-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootF-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-FootH-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootD-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootC-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-FootB-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootA-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-FootG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-FootG-Column1- p
{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-Body-Body1
{
	
}

.TableStyle-NoBorder10-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-NoBorder10-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-NoBorder10-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoBorder10-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
}


