/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	max-width: 90%;
	min-width: 300px;
	font-size: small;
	margin-left: 2em;
}

html.popup
{
	mc-master-page: url('../MasterPages/Popup.flmsp');
}

/********************anchors********************/

a
{
	line-height: 1.5em;
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: inherit;
}

a.More
{
	color: #0000FF;
	text-decoration: none;
}

a.Orientation
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	line-height: 140%;
	font-size: inherit;
}

a.Orientation:link
{
	color: #CE1141;
}

a.Orientation:visited
{
	color: #ce1141;
}

a.Popup
{
	mc-popup-width: 500px;
}

a.PopupSmall
{
	mc-popup-width: 330px;
	mc-popup-height: 200px;
}

a.rollover
{
	display: block;
	width: ? ?;
	height: ? ?;
	text-decoration: none;
	background: IMAGE ? ?;
}

a.rollover.hover
{
	background-position: ? ? ? px 0;
}

.displace
{
	position: absolute;
	left: -5000px;
}

/********************breadcrumb********************/

MadCap|breadcrumbsProxy
{
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	background-color: #FFFFFF;
	font-size: inherit;
	mc-breadcrumbs-prefix: '';
	padding-bottom: .2em;
	mc-breadcrumbs-count: 4;
}

a.MCBreadcrumbsLink
{
	text-decoration: none;
}

/********************headings********************/

h1
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 3em;
	color: #CE1141;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.1em;
	clear: both;
	margin-bottom: 0.67em;
	max-width: 90%;
	min-width: 60%;
}

h2
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 2em;
	color: #CE1141;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 0.67em;
	max-width: 90%;
	min-width: 60%;
}

h3
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 1.5em;
	color: #333333;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 0.67em;
	max-width: 90%;
	min-width: 60%;
}

h4
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 1em;
	color: #CE1141;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.25em;
	max-width: 90%;
	min-width: 60%;
}

h5
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 1em;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.25em;
	max-width: 90%;
	min-width: 60%;
}

h6
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: 0.75em;
	color: #CE1141;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.25em;
	max-width: 90%;
	min-width: 60%;
}

/********************horizontal rule********************/

hr
{
	display: block;
	border: 0;
	border-top: 1px solid #333333;
	margin: 1em 0;
	padding: 0;
	noshade: ;
}

/********************images********************/

img.Inline
{
	padding-right: 0.2em;
	padding-left: 0.2em;
	vertical-align: bottom;
	position: relative;
	top: -4px;
}

/********************images with captions **********/

p.Caption
{
	color: #CE1141;
	font-size: .75em;
	margin-bottom: 0em;
	font-weight: 600;
	margin-top: -0.75em;
}

/********************indents**********/

p.Aligned_to_Step
{
	font-size: inherit;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 7em;
}

p.Aligned_to_a_step
{
	font-size: inherit;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 10.5em;
}

p.Indent
{
	font-size: inherit;
	margin-left: 3.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

p.Indent2
{
	font-size: inherit;
	margin-left: 7em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

p.Indent3
{
	font-size: inherit;
	margin-left: 10.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

p.Indent4
{
	font-size: inherit;
	margin-left: 14em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

blockquote
{
	margin-left: 80px;
}

/********************lists********************/

li
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: inherit;
	padding-left: 1em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

li.tight
{
	line-height: 1.25em;
	margin-top: 0px;
	margin-bottom: 0px;
}

ol
{
	min-width: 300%;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: inherit;
	max-width: 100%;
	clear: both;
	margin-left: 1.5em;
}

ol.Lower_alpha
{
	list-style-type: lower-alpha;
	margin-left: 6em;
}

ol.Lower-roman
{
	list-style-type: lower-roman;
	margin-left: 10.5em;
}

ol.Upper_alpha
{
	list-style-type: upper-alpha;
	margin-left: 14em;
}

ol.table
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	margin-left: 1em;
	padding-left: .5em;
}

ol.Indent2
{
	padding-left: 6em;
	mc-dita-type: ol;
	margin-left: 3.5em;
}

ul
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	min-width: 70%;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: inherit;
	max-width: 100%;
	list-style-type: disc;
	clear: both;
	margin-left: 1.5em;
}

ul.Circle
{
	list-style-type: circle;
}

ul.Square
{
	list-style-type: square;
	margin-left: 2.5em;
}

ul.table
{
	margin-left: 1.25em;
	padding-left: 1.25em;
}

ul.Indent
{
	margin-left: 2em;
	padding-left: 4em;
}

ul.Aligned_to_Step
{
	margin-left: 2em;
	padding-left: 4em;
}

ul.popup
{
	margin-left: 0em;
}

ul.Indent2
{
	margin-left: 2em;
	padding-left: 4em;
}

ul.Indent3
{
	margin-left: 2em;
	padding-left: 4em;
}

/********************paragraphs********************/

p
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	line-height: 1.50em;
	font-size: inherit;
	margin: 0em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	max-width: 100%;
}

p.Example
{
	color: #CE1141;
	font-size: inherit;
	margin-bottom: 0.25em;
	line-height: 1.5em;
}

p.HeadingProcedure
{
	color: #171f69;
	font-size: inherit;
	font-weight: 600;
	margin-top: 12pt;
	margin-bottom: 6pt;
	text-decoration: underline;
	page-break-after: avoid;
}

p.MasterFooterImage
{
	text-align: right;
	border-top: solid 1px #333333;
	max-width: 100%;
	border-top-color: #333333;
	margin-right: 1em;
}

p.MasterFooterContact
{
	text-align: right;
	max-width: 100%;
	font-size: 7pt;
	color: #333333;
	text-indent: .5em;
	margin-right: 1em;
}

p.Note_Body
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: .5em;
	max-width: 100%;
}

p.Syntax
{
	font-size: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
	font-family: "Courier New", Courier New, monospace;
	font-weight: bold;
}

p.very_small
{
	font-size: 4pt;
	margin-top: .5em;
	margin-bottom: 0em;
}

p.writer_note
{
	letter-spacing: 0.1em;
	background-color: #ffe4e1;
	padding: 1px;
	color: #ff0000;
	border: solid 1px #ff0000;
	text-align: right;
	font-family: Verdana;
	font-variant: small-caps;
	font-size: 1em;
}

p.property_TOC
{
	line-height: 1em;
}

p.property_TOC20
{
	line-height: 1em;
	margin-left: 20px;
}

p.property_TOC40
{
	line-height: 1em;
	margin-left: 40px;
}

/********************notes, important, warning********************/

p.Note
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 28pt;
	text-indent: -28pt;
}

p.Note2
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 68pt;
	text-indent: -28pt;
}

p.Note3
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 92pt;
	text-indent: -28pt;
}

p.Note4
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 120pt;
	text-indent: -28pt;
}

p.Important
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 54pt;
	text-indent: -54pt;
}

p.Warning
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 46pt;
	text-indent: -46pt;
}

p.TableNote
{
	font-size: inherit;
	font-weight: 500;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 28pt;
	text-indent: -28pt;
}

/********************code********************/

code
{
	font-size: 1em;
}

p.Code
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code2
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 24pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code3
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 48pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code4
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 72pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code5
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 96pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code6
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 120pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code7
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 144pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code8
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 168pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code9
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 192pt;
	line-height: 1em;
	font-family: monospace;
}

p.Code10
{
	font-size: inherit;
	background-color: #F3F3F3;
	margin-bottom: 0pt;
	margin-left: 216pt;
	line-height: 1em;
	font-family: monospace;
}

/********************span********************/

span.italic
{
	font-style: italic;
}

span.bold
{
	font-weight: bold;
}

span.NoteHeading
{
	font-style: normal;
	color: #ce1141;
	font-weight: 700;
}

/********************tables********************/

table
{
	border-collapse: collapse;
	clear: both;
	max-width: 100%;
}

table.Code
{
	border-collapse: collapse;
	margin-left: 56px;
	border-color: #F3F3F3;
	border: solid 1em #F3F3F3;
	background-color: #F3F3F3;
}

th
{
	font-size: inherit;
	text-align: left;
}

/********************vertical text********************/

.svc_name
{
	float: left;
	color: #000000;
}

.svc_name .vertical
{
	display: block;
	writing-mode: tb-rl;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 8pt;
	white-space: nowrap;
}

img.Thumbnail_Image
{
	mc-thumbnail: popup;
	mc-open-image: none;
}

MadCap|helpControlMenu
{
	background-color: #ffffff;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #333333;
}

MadCap|dropDown
{
	margin-bottom: 0.25em;
	margin-top: 0.2em;
	display: block;
	padding-bottom: .8em;
	padding-top: .8em;
	mc-closed-image: url('../Images/Shared Images/arrow_right.png');
}

MadCap|dropDownHotspot
{
	display: block;
	text-transform: none;
	max-width: 90%;
	min-width: 60%;
	color: #333333;
	font-weight: normal;
	font-size: medium;
}

MadCap|dropDownHead
{
	font-size: .8em;
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
}

MadCap|dropDownBody
{
	margin-left: 1px;
}

MadCap|dropDownHead.Orientation
{
	color: #CE1141;
	font-size: inherit;
}

MadCap|relatedTopics
{
	font-family: Verdana, Arial, Helvetica, 'Sans Serif';
	font-size: inherit;
	mc-image: none;
	color: #333333;
}

div.Note
{
	color: #000000;
	font-size: inherit;
	display: block;
	max-width: 100%;
	min-width: 60%;
	background-repeat: no-repeat;
	background-image: none;
	background-color: #f3f3f3;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
	border-left-style: solid;
	border-left-width: 0.5em;
	border-left-color: #CE1141;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
}

div.Note_white
{
	color: #000000;
	font-size: inherit;
	display: block;
	max-width: 100%;
	min-width: 60%;
	background-repeat: no-repeat;
	background-image: none;
	background-color: #ffffff;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
	border-left-style: solid;
	border-left-width: 0.5em;
	border-left-color: #CE1141;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
}

p.Note_Heading
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: .5em;
	font-weight: normal;
	font-size: medium;
	color: #CE1141;
}

MadCap|xref
{
	clear: both;
	display: inline;
}

/********************print styles********************/

@media print
{
	p.PrintHeader
	{
		text-align: right;
		border-bottom: solid 1px;
		font-weight: 400;
		font-family: Verdana;
		font-size: 10pt;
		border-bottom-color: #CE1141;
	}

	h2
	{
		letter-spacing: 0em;
		mc-heading-level: 2;
		page-break-before: always;
		mc-hyphenate: never;
	}

	p.Code
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code2
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code3
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code4
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code5
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code6
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code7
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code8
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code9
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Code10
	{
		font-family: "Lucida Console";
		margin-bottom: 0pt;
		font-size: inherit;
		line-height: 1em;
	}

	p.Note_Heading
	{
		font-weight: normal;
		font-size: medium;
		margin-top: 1em;
		color: #ce1141;
	}

	MadCap|dropDownHead
	{
		page-break-after: avoid;
	}

	div.Note
	{
		page-break-inside: avoid;
	}

	div.Note_white
	{
		page-break-inside: avoid;
	}

	MadCap|xref.MoreInfoXRef
	{
		mc-format: 'For more information, see {quote}{h1}.{quote}';
	}

	MadCap|xref.HeadingFormat
	{
		mc-format: '{quote}{h1}.{quote}';
	}

	@media non-print
	{
		p.HeadingProcedure
		{
			color: #171f69;
			font-size: inherit;
			font-weight: 600;
			margin-top: 12pt;
			margin-bottom: 6pt;
			text-decoration: underline;
			page-break-after: avoid;
		}

		MadCap|xref
		{
			display: inline;
		}

		p.Note_Heading
		{
			font-size: inherit;
		}

		ul.Indent
		{
			margin-left: 0.3em;
		}

		p.Indent2
		{
			margin-bottom: 0.5em;
		}

		p.Indent
		{
			margin-right: inherit;
			max-width: 90%;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			padding-left: .8em;
			margin-left: 0em;
		}

		p.Indent3
		{
			padding-left: 20px;
			margin-left: 20pt;
		}

		p.Indent4
		{
			margin-left: 78pt;
		}
	}

	MadCap|xref.TextOnly
	{
		mc-format: '{paratext}';
	}

	p
	{
		font-size: small;
		line-height: 140%;
		font-weight: 100;
		mc-hyphenate: never;
	}

	h1
	{
		mc-hyphenate: never;
		mc-heading-level: 1;
	}

	h3
	{
		mc-hyphenate: never;
	}

	h4
	{
		mc-hyphenate: never;
	}

	h5
	{
		mc-hyphenate: never;
	}

	h6
	{
		mc-hyphenate: never;
	}

	MadCap|relatedTopics
	{
		font-size: smaller;
	}

	ol
	{
		min-width: 300px;
		font-size: inherit;
	}

	ul
	{
		min-width: 300px;
		font-size: inherit;
	}

	li
	{
		line-height: 140%;
		mc-hyphenate: never;
		page-break-inside: avoid;
		clear: both;
		padding-left: 0.5em;
		text-indent: 4px;
		left: 3px;
		text-align: left;
		vertical-align: 2px;
		margin-top: 1em;
	}

	ol.Lower_alpha
	{
		list-style-position: inside;
		margin-left: 2.250em;
	}

	MadCap|breadcrumbsProxy
	{
		display: block;
		mc-page-number-format: lower-alpha;
		mc-page-number-start-value: 1;
		mc-pagenum-display: all;
		mc-printer-page-footer-margin: 1em;
		mc-printer-page-header-margin: 1em;
		mc-printer-page-margin-bottom: 1em;
		mc-printer-page-margin-left: 1em;
		mc-printer-page-margin-right: 1em;
		mc-printer-page-margin-top: 1em;
	}

	MadCap|topicToolbarProxy
	{
		font-size: 12pt;
	}

	MadCap|tocProxy
	{
		font-size: 12pt;
		font-family: Arial;
	}

	MadCap|xref
	{
		display: inline;
		color: #4169e1;
	}

	table
	{
		mc-hyphenate: never;
		column-break-before: avoid;
	}

	td
	{
		mc-hyphenate: never;
		page-break-before: avoid;
	}

	th
	{
		mc-hyphenate: never;
	}

	caption
	{
		text-align: center;
		mc-caption-continuation: '(Continued)';
		display: table-caption;
		mc-caption-repeat: true;
	}

	ol.table
	{
		margin-left: 0em;
	}

	ul.table
	{
		padding-left: 0em;
		margin-left: 0.50em;
	}

	p.Aligned_to_Step
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		clear: both;
		mc-auto-number-position: none;
		margin-left: 0em;
	}

	MadCap|glossaryTerm
	{
		color: #a9a9a9;
		font-weight: 100;
	}

	div.GlossaryPageDefinition
	{
		font-size: 11pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
	}

	div.GlossaryPageHeading
	{
		font-size: 14pt;
		color: #ce1141;
		font-weight: bold;
	}

	MadCap|glossaryProxy
	{
		padding-left: 5px;
	}

	p.Aligned_to_a_step
	{
		clear: both;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 4em;
	}

	p.HeadingProcedure
	{
		color: #171f69;
		font-size: inherit;
		font-weight: 600;
		margin-top: 12pt;
		margin-bottom: 6pt;
		text-decoration: underline;
		page-break-after: avoid;
	}

	MadCap|dropDownHotspot
	{
		font-weight: bold;
	}

	tbody
	{
		page-break-before: avoid;
	}

	a.Orientation:visited
	{
		color: #ce1141;
	}

	thead
	{
		text-align: center;
	}

	p.MasterFooterImage
	{
		margin-top: 0em;
		margin-bottom: 0em;
		margin-right: 0em;
	}

	p.MasterFooterContact
	{
		margin-right: 0em;
		margin-bottom: 0em;
		margin-top: 0em;
	}

	table.Code
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media non-print
{
	MadCap|xref
	{
		display: inline;
	}

	caption
	{
		text-align: center;
		display: table-caption;
	}

	li
	{
		clear: both;
		display: list-item;
		padding-left: 1em;
	}

	ol
	{
		min-width: 300px;
		page-break-before: avoid;
	}

	p.HeadingProcedure
	{
		color: #171f69;
		font-size: inherit;
		font-weight: 600;
		margin-top: 12pt;
		margin-bottom: 6pt;
		text-decoration: underline;
		page-break-after: avoid;
	}

	a.GlossaryPageTerm
	{
		font-weight: bold;
	}

	p.Aligned_to_Step
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		margin-left: 3.5em;
		padding-left: 2em;
	}

	p.Aligned_to_a_step
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	ul.Indent2
	{
		padding-left: 6em;
		mc-dita-type: ul;
		margin-left: 3.5em;
	}

	ul.Indent3
	{
		padding-left: 10.00em;
	}

	MadCap|dropDownHead
	{
		page-break-after: avoid;
	}

	ul.Indent
	{
		padding-left: 4.5em;
		margin-left: 2.5em;
	}

	MadCap|dropDownHotspot
	{
		color: #333333;
		font-weight: 500;
	}

	img.Inline
	{
		
	}

	img
	{
		margin-top: 2px;
	}
}

img
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

MadCap|xref
{
	display: inline;
}

caption
{
	text-align: center;
	display: table-caption;
}

li
{
	clear: both;
	display: list-item;
	padding-left: 1em;
}

ol
{
	min-width: 300px;
	page-break-before: avoid;
}

p.HeadingProcedure
{
	color: #171f69;
	font-size: inherit;
	font-weight: 600;
	margin-top: 12pt;
	margin-bottom: 6pt;
	text-decoration: underline;
	page-break-after: avoid;
}

a.GlossaryPageTerm
{
	font-weight: bold;
}

p.Aligned_to_Step
{
	margin-bottom: 0.50em;
	margin-top: 0.50em;
	margin-left: 3.5em;
	padding-left: 2em;
}

p.Aligned_to_a_step
{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

ul.Indent2
{
	padding-left: 6em;
	mc-dita-type: ul;
	margin-left: 3.5em;
}

ul.Indent3
{
	padding-left: 10.00em;
}

MadCap|dropDownHead
{
	page-break-after: avoid;
}

ul.Indent
{
	padding-left: 4.5em;
	margin-left: 2.5em;
}

MadCap|dropDownHotspot
{
	color: #333333;
	font-weight: 500;
}

img.Inline
{
	
}

img
{
	margin-top: 2px;
}

